<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="" style="text-decoration: none" href="http://www.novastrid.com/">Novastrid.com</a>
  </div>
</footer>